/* ----------------------------------- fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700');

/* ----------------------------------- 
** Generic
*/
* {
	text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', helvetica, sans-serif;
    letter-spacing: 0.04em;
}
.container {
	/* overflow:hidden;  */
	/* width:100%;  */
	/*height:calc(100vh - 6em); */
	margin:1em; 
	padding:1em; 
	background-color: #ffffcb;
}
#nav {
	text-align: center;
}
.nav-item {
	display: inline-block;
	font-size: 0.9em;
    padding: 10px 10px;
    letter-spacing: 0.1em;
}

.info-container {
	padding: 1em;
}
.info-container p {
	font-size: 0.9em;
}

#footer {
	width: 100%;
    background-color: #fff;
    color: #171717;
    position: relative;
    text-align: center;
}
.footer-copyright {
	font-size: 0.8em;
    padding: 0.5em 0;
}
/*----------------------------------- 
 ** flexbox
 */
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.skill-container{
	width: 20%;
	margin: 1em;
	text-align: center;
}
 /*----------------------------------- 
 ** icons
 */
.social-container {
 	text-align: center;
}
.social-icon {
	color: #333;
	font-size: 28px !important;
    padding: 0.3em;
}
.icon {
	color: #fff;
	font-size: 28px !important;
    padding: 0.3em;
}

/* ----------------------------------- 
** Extra
*/
.logo {
	min-height: 2.5em;
}
.logo img {
	max-width: 300px;
	width: 100px;
	position: absolute;
	top: 0;
}
.logo-spacer {
	padding-top: 2.5em;
}
/* .back-to-top-link {

} */