* 
{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', helvetica, sans-serif;
}

.container
{
	/*max-width: 1200px;*/
	overflow:hidden; 
	width:100%; 
	height:100vh; 
	margin:0 auto; 
	padding:0; 

	background-image: url("../tea.jpg");
	background-repeat: no-repeat;
	background-position: center;

	background-color:#fafafa;
}

.content
{
	position: relative;
	width: 100%;
	height: 50%;
	text-align: center;
    display: inline-block;
}

.page-center
{
	position: absolute;
	width: 100%;
	bottom: -79.5px;
}

.page-title
{
	font-size: 96px;
	letter-spacing: 0.3em;
	text-align: center;
}

.page-subtitle
{
	font-size: 36px;
	letter-spacing: 0.3em;
}



