/* ----------------------------------- fonts
*/
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:600,600i,900,900i&display=swap');
/* ----------------------------------- 
** Generic
*/
* {
	text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', helvetica, sans-serif;
	letter-spacing: 0.04em;
	line-height: 1.4em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	font-weight: 600;
}
h3 {
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}
.title {

}
.subtitle {
	font-family: 'Satisfy', cursive;
	font-size: 20px;
	width: fit-content;
	margin-top: -10px;
	margin-bottom: 10px;
	-webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.container {
	/* overflow:hidden;  */
	/* width:100%;  */
	/*height:calc(100vh - 6em); */
	margin:1em; 
	padding:1em;
}
.info-container {
	padding: 1em;
}
.info-container p {
	font-size: 0.9em;
}
/* ----------------------------------- 
** Logo
*/
.logo {
	min-height: 2.5em;
}
.logo img {
	max-width: 120px;
	width: 20%;
	min-width: 100px;
	position: absolute;
	top: 0;
}
.logo-spacer {
	padding-top: 2.5em;
}

/* ----------------------------------- 
** Nav
*/
/* #nav {
	text-align: center;
}
.nav-item {
	display: inline-block;
	font-size: 0.9em;
    padding: 10px 10px;
    letter-spacing: 0.1em;
} */



/*----------------------------------- 
 ** About
 */
#about .info-container {
	max-width: 510px;
	display: block;
    margin: 0 auto;
}
/*----------------------------------- 
 ** Skills
 */
.skills-row {
	text-align: center;
}
.skill-container {
	display: inline-block;
}
/*----------------------------------- 
 ** footer
 */
#footer {
	width: 100%;
    background-color: #fff;
    color: #171717;
    position: relative;
    text-align: center;
}
.footer-copyright {
	font-size: 0.8em;
    padding: 0 0 1.5em 0;
}
/*----------------------------------- 
 ** flexbox
 */
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
 /*----------------------------------- 
 ** icons
 */
.social-container {
 	text-align: center;
}
.social-icon {
	color: #333;
	font-size: 28px !important;
    padding: 0.3em;
}
.icon {
	color: #fff;
	font-size: 28px !important;
    padding: 0.3em;
}



/* ----------------------------------- 
** Desktop
*/
@media only screen and (min-width: 1200px) {
	#about .info-container {
		max-width: 450px;
	}
}
/* ----------------------------------- 
** Tablet 
*/
@media only screen and (min-width: 812px) and (max-width: 1199px) {
	
}
/* ----------------------------------- 
** Mobile  
*/
@media only screen and (min-width: 0px) and (max-width: 811px) {
	
}